extends layout

block content
  if (!user)
    h1= title
    p Welcome to #{title}
    ul
      li 
        a(href="/sign-up") Register 
      li 
        a(href="/log-in") Log In
  else 
    h1= title
    p Welcome to #{title}, #{user.username}